# Informações gerais sobre o nosso banco de dados

 Para começar vou importar as bibliotecas necessárias e importar também meu conjunto de dados

In [3]:
import pandas as pd

df = pd.read_csv("us_house_Sales_data.csv", sep= ",")

Agora, vamos analisar as 5 primeiras linhas

In [4]:
df.head()

,Price,Address,City,Zipcode,State,Bedrooms,Bathrooms,Area (Sqft),Lot Size,Year Built,Days on Market,Property Type,MLS ID,Listing Agent,Status,Listing URL
0,"$554,217","5926 Oak Ave, San Diego, CA 65383",San Diego,65383,CA,1 bds,3 ba,772 sqft,4757 sqft,1959,101,Townhouse,Z104635,Alex Johnson - Compass,For Sale,https://www.zillow.com/homedetails/80374762_zpid/
1,"$164,454","9583 Oak Ave, Fresno, IL 79339",Fresno,79339,IL,1 bds,1 ba,2348 sqft,3615 sqft,1969,46,Apartment,Z535721,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/86143665_zpid/
2,"$1,249,331","8224 Oak Ave, Sacramento, TX 87393",Sacramento,87393,TX,6 bds,1 ba,3630 sqft,9369 sqft,1990,59,Townhouse,Z900458,Mike Lee - Coldwell Banker,For Sale,https://www.zillow.com/homedetails/37082403_zpid/
3,"$189,267","232 Oak Ave, Fresno, TX 38666",Fresno,38666,TX,2 bds,1 ba,605 sqft,8804 sqft,1958,119,Apartment,Z318589,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/39318132_zpid/
4,"$465,778","5446 Pine Rd, Los Angeles, CA 23989",Los Angeles,23989,CA,3 bds,2 ba,1711 sqft,9260 sqft,2020,26,Townhouse,Z899716,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/22454634_zpid/

Analisando a 5 últimas linhas

In [5]:
df.tail()

,Price,Address,City,Zipcode,State,Bedrooms,Bathrooms,Area (Sqft),Lot Size,Year Built,Days on Market,Property Type,MLS ID,Listing Agent,Status,Listing URL
2995,"$801,824","4167 Oak Ave, San Diego, TX 78499",San Diego,78499,TX,3 bds,4 ba,3318 sqft,6745 sqft,2022,61,Multi-Family,Z284935,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/50860042_zpid/
2996,"$843,703","5606 Pine Rd, Sacramento, CA 39627",Sacramento,39627,CA,6 bds,2 ba,900 sqft,8046 sqft,2012,64,Multi-Family,Z842214,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/33603937_zpid/
2997,"$743,513","6230 Maple Dr, Fresno, TX 62804",Fresno,62804,TX,4 bds,3 ba,2921 sqft,2041 sqft,2005,48,Multi-Family,Z350999,Jane Smith - Keller Williams,Sold,https://www.zillow.com/homedetails/44710479_zpid/
2998,"$211,664","8683 Main St, San Diego, TX 99740",San Diego,99740,TX,2 bds,4 ba,701 sqft,1344 sqft,2017,117,Single Family,Z748192,Alex Johnson - Compass,Pending,https://www.zillow.com/homedetails/41368665_zpid/
2999,"$712,029","4392 Maple Dr, Los Angeles, NY 89198",Los Angeles,89198,NY,4 bds,3 ba,2967 sqft,8071 sqft,1985,32,Condo,Z876426,Alex Johnson - Compass,For Sale,https://www.zillow.com/homedetails/64854326_zpid/

Vamos pegar informações gerais sobre os dados

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           3000 non-null   object
 1   Address         3000 non-null   object
 2   City            3000 non-null   object
 3   Zipcode         3000 non-null   int64
 4   State           3000 non-null   object
 5   Bedrooms        3000 non-null   object
 6   Bathrooms       3000 non-null   object
 7   Area (Sqft)     3000 non-null   object
 8   Lot Size        3000 non-null   object
 9   Year Built      3000 non-null   int64
 10  Days on Market  3000 non-null   int64
 11  Property Type   3000 non-null   object
 12  MLS ID          3000 non-null   object
 13  Listing Agent   3000 non-null   object
 14  Status          3000 non-null   object
 15  Listing URL     3000 non-null   object
dtypes: int64(3), object(13)
memory usage: 375.1+ KB

Após utilizar a função info, podemos ver que nosso conjunto de dados tem 16 colunas, 3000 entradas de dados (ou seja, 3000 dados) e que não possui valores nulos. Os tipos dos nosso dados estão divididos em str e int

# Verificando se há valores nulos ou faltantes

Podemos ver se o nosso dataframe tem valores nulos ou valores faltantes utilizando apenas a função isnull(), onde True significa que aquele valor é nulo (faltante) e False significa que o valor está presente.

In [7]:
df.isnull()

,Price,Address,City,Zipcode,State,Bedrooms,Bathrooms,Area (Sqft),Lot Size,Year Built,Days on Market,Property Type,MLS ID,Listing Agent,Status,Listing URL
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Outra forma de ver se o nosso dataframe tem valores nulos ou faltantes é juntando a função isnull() com função sum()

In [8]:
df.isnull().sum()

Price             0
Address           0
City              0
Zipcode           0
State             0
Bedrooms          0
Bathrooms         0
Area (Sqft)       0
Lot Size          0
Year Built        0
Days on Market    0
Property Type     0
MLS ID            0
Listing Agent     0
Status            0
Listing URL       0
dtype: int64

Com as duas funções, podemos perceber que nosso dataframe está completo, sem valores faltantes ou nulos.

# Verificando se há valores duplicados

Para verificarmos se há valores duplicados, podemos utilizar a função duplicated(), mas também podemos juntar essa função a função sum()

In [9]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [10]:
df.duplicated().sum()

np.int64(0)

A partir das duas funções, podemos ver que nosso dataframe não tem valores duplicados

# Antes de partir para a estatística descritiva, vamos mudar o nome das colunas para pt-br (há 3 que não serão modificadas pois irei removê-las depois)

para modificar o nome das colunas, utilizamos a função rename()

In [11]:
df.rename(columns={
    "Price" : "Preço",
    "Address" : "Endereço",
    "City": "Cidade",
    "Zipcode": "Código",
    "State": "Estado",
    "Bedrooms": "Quartos",
    "Baths": "Banheiros",
    "Area (Sqft)": "Área",
    "Lot Size": "Tamanho do lote",
    "Year Built": "Ano de construção",
    "Days on Market" : "Dias à venda",
    "Property Type": "Tipo de propriedade",
    }, inplace = True )

vamos ver como ficou as nossas colunas com a mudança:

In [12]:
display(df)

,Preço,Endereço,Cidade,Código,Estado,Quartos,Bathrooms,Área,Tamanho do lote,Ano de construção,Dias à venda,Tipo de propriedade,MLS ID,Listing Agent,Status,Listing URL
0,"$554,217","5926 Oak Ave, San Diego, CA 65383",San Diego,65383,CA,1 bds,3 ba,772 sqft,4757 sqft,1959,101,Townhouse,Z104635,Alex Johnson - Compass,For Sale,https://www.zillow.com/homedetails/80374762_zpid/
1,"$164,454","9583 Oak Ave, Fresno, IL 79339",Fresno,79339,IL,1 bds,1 ba,2348 sqft,3615 sqft,1969,46,Apartment,Z535721,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/86143665_zpid/
2,"$1,249,331","8224 Oak Ave, Sacramento, TX 87393",Sacramento,87393,TX,6 bds,1 ba,3630 sqft,9369 sqft,1990,59,Townhouse,Z900458,Mike Lee - Coldwell Banker,For Sale,https://www.zillow.com/homedetails/37082403_zpid/
3,"$189,267","232 Oak Ave, Fresno, TX 38666",Fresno,38666,TX,2 bds,1 ba,605 sqft,8804 sqft,1958,119,Apartment,Z318589,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/39318132_zpid/
4,"$465,778","5446 Pine Rd, Los Angeles, CA 23989",Los Angeles,23989,CA,3 bds,2 ba,1711 sqft,9260 sqft,2020,26,Townhouse,Z899716,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/22454634_zpid/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,"$801,824","4167 Oak Ave, San Diego, TX 78499",San Diego,78499,TX,3 bds,4 ba,3318 sqft,6745 sqft,2022,61,Multi-Family,Z284935,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/50860042_zpid/
2996,"$843,703","5606 Pine Rd, Sacramento, CA 39627",Sacramento,39627,CA,6 bds,2 ba,900 sqft,8046 sqft,2012,64,Multi-Family,Z842214,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/33603937_zpid/
2997,"$743,513","6230 Maple Dr, Fresno, TX 62804",Fresno,62804,TX,4 bds,3 ba,2921 sqft,2041 sqft,2005,48,Multi-Family,Z350999,Jane Smith - Keller Williams,Sold,https://www.zillow.com/homedetails/44710479_zpid/
2998,"$211,664","8683 Main St, San Diego, TX 99740",San Diego,99740,TX,2 bds,4 ba,701 sqft,1344 sqft,2017,117,Single Family,Z748192,Alex Johnson - Compass,Pending,https://www.zillow.com/homedetails/41368665_zpid/
2999,"$712,029","4392 Maple Dr, Los Angeles, NY 89198",Los Angeles,89198,NY,4 bds,3 ba,2967 sqft,8071 sqft,1985,32,Condo,Z876426,Alex Johnson - Compass,For Sale,https://www.zillow.com/homedetails/64854326_zpid/

# Removendo as colunas: "MLS ID", "Listing Agent" e "Listing URL"

essas colunas serão removidas pois para nossa análise e as perguntas que vamos responder, elas não são úteis e nem necessárias

In [13]:
df.drop(columns={
    "MLS ID",
    "Listing Agent",
    "Listing URL"}, inplace=True ) #inplace=True altera o dataframe original

após a remoção, o nosso dataframe ficou assim:

In [14]:
display(df)

,Preço,Endereço,Cidade,Código,Estado,Quartos,Bathrooms,Área,Tamanho do lote,Ano de construção,Dias à venda,Tipo de propriedade,Status
0,"$554,217","5926 Oak Ave, San Diego, CA 65383",San Diego,65383,CA,1 bds,3 ba,772 sqft,4757 sqft,1959,101,Townhouse,For Sale
1,"$164,454","9583 Oak Ave, Fresno, IL 79339",Fresno,79339,IL,1 bds,1 ba,2348 sqft,3615 sqft,1969,46,Apartment,Sold
2,"$1,249,331","8224 Oak Ave, Sacramento, TX 87393",Sacramento,87393,TX,6 bds,1 ba,3630 sqft,9369 sqft,1990,59,Townhouse,For Sale
3,"$189,267","232 Oak Ave, Fresno, TX 38666",Fresno,38666,TX,2 bds,1 ba,605 sqft,8804 sqft,1958,119,Apartment,Pending
4,"$465,778","5446 Pine Rd, Los Angeles, CA 23989",Los Angeles,23989,CA,3 bds,2 ba,1711 sqft,9260 sqft,2020,26,Townhouse,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,"$801,824","4167 Oak Ave, San Diego, TX 78499",San Diego,78499,TX,3 bds,4 ba,3318 sqft,6745 sqft,2022,61,Multi-Family,Sold
2996,"$843,703","5606 Pine Rd, Sacramento, CA 39627",Sacramento,39627,CA,6 bds,2 ba,900 sqft,8046 sqft,2012,64,Multi-Family,Sold
2997,"$743,513","6230 Maple Dr, Fresno, TX 62804",Fresno,62804,TX,4 bds,3 ba,2921 sqft,2041 sqft,2005,48,Multi-Family,Sold
2998,"$211,664","8683 Main St, San Diego, TX 99740",San Diego,99740,TX,2 bds,4 ba,701 sqft,1344 sqft,2017,117,Single Family,Pending
2999,"$712,029","4392 Maple Dr, Los Angeles, NY 89198",Los Angeles,89198,NY,4 bds,3 ba,2967 sqft,8071 sqft,1985,32,Condo,For Sale

# Métricas estatísticas dos dados (de forma geral)

na função describe(), aparecerá as métricas estatísticas dos dados que são números (int ou float), não engloba os dados tipo str

In [15]:
df.describe()

             Código  Ano de construção  Dias à venda
count   3000.000000        3000.000000   3000.000000
mean   55264.197333        1986.814333     61.199333
std    25923.967932          21.272252     34.890983
min    10006.000000        1950.000000      1.000000
25%    33363.500000        1968.000000     31.000000
50%    55467.500000        1987.000000     62.000000
75%    77692.250000        2006.000000     91.000000
max    99955.000000        2023.000000    120.000000

para aplicar a função describe incluindo variáveis classificadas como "object" ou str:

In [16]:
df.describe(include=[object])

,Preço,Endereço,Cidade,Estado,Quartos,Bathrooms,Área,Tamanho do lote,Tipo de propriedade,Status
count,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
unique,2996,3000,5,5,6,4,2013,2542,5,3
top,"$102,028","4392 Maple Dr, Los Angeles, NY 89198",Los Angeles,CA,2 bds,4 ba,1051 sqft,6335 sqft,Apartment,Sold
freq,2,1,617,659,533,760,6,5,622,1045

# último passo antes da estatística descritiva:

Na função info() vimos que há "object(13)", ou seja, há 13 colunas que os dados estão como objeto, como uma variável categórica "str", para conseguirmos fazer a estatística descritiva, precisamos que todos os dados estejam em números, seja int ou float